<div class="row" style="margin-top: 10%;">
<div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-lock"></i>
        <b>Admin Login</b>
      </div>
        <div class="card-body">
            <form>
              <div class="form-group">
                <label class="small-font" for="Username"><b>Username</b></label>
                <input type="username" class="form-control" id="username" placeholder="username">
              </div>
              <div class="form-group">
                <label class="small-font" for="pwd"><b>Password</b></label>
                <input type="password" class="form-control" id="password" placeholder="password">
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="small-font com-color"><b> forgot your password? </b></label>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary btn-sm loginbtn offset-md-8">
                    <i class="fa fa-sign-in" style="padding:3px;"></i>Login</button>
            </div>
            </div>
            
            </form>
        
        </div>
      </div>
</div>
</div>
