.btn {
    border-radius: 0px;
}
.form-control {
    border-radius: 0rem;
}

.loginbtn{
    background-color: #1e6773 !important;
}
.small-font {
    font-size: 14px;
}
::placeholder { 
       font-size:13px;
 }

.com-color{
    color: #1e6773;
}